<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list>
        <mat-list-item routerLink="/signup" (click)="sidenav.close()">
          <mat-icon>list_alt</mat-icon>
          <span class="nav-caption">Signup</span>
        </mat-list-item>
        <mat-list-item routerLink="/login" (click)="sidenav.close()">
          <mat-icon>face</mat-icon>
          <span class="nav-caption">Login</span>
        </mat-list-item>
        <mat-list-item routerLink="/training" (click)="sidenav.close()">
          <mat-icon>fitness_center</mat-icon>
          <span class="nav-caption">Training</span>
        </mat-list-item>
        <mat-list-item>
          <button mat-icon-button (click)="sidenav.close()">
            <mat-icon>exit_to_app</mat-icon>
            <span class="nav-caption">Logout</span>
          </button>
        </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Toolbar must be inside sidenav in order to be under it -->
    <mat-toolbar color="primary">
      <div fxHide.sm fxHide.md fxHide.lg fxHide.xl>
      <!-- <div fxHide.gt-xs> -->
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div><a routerLink="/">LOGO</a></div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout="row" fxLayoutGap="10px" class="navigation-items">
          <li>
            <a routerLink="/signup">Signup</a>
          </li>
          <li>
            <a routerLink="/login">Login</a>
          </li>
          <li>
            <a routerLink="/training">Training</a>
          </li>
          <li>
            <a>Logout</a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>